@import url(/css/style.css);

h2 {
    margin-top: 25px;
    font-weight: 400;
    color: #FFC300;
}

.images {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
}

.images img {
    width: 24%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.table {
    display: flex;
    gap: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}

table th {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
}

table td {
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
}

.contact {
    width: 50%;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    color: #5B3178;
}

.contact span {
    margin-top: 20px;
}

.contact a {
    color: rgb(50, 50, 50);
}

.tile {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

.tile div {
    margin-right: 30px;
}

.tile a {
    color: rgb(49, 49, 49);
}

footer {
    position: relative;
}